@import 'bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import 'admin-lte/dist/css/adminlte.min.css';
@import "angular/angular-csp.css";
@import './paginator.css';
@import './style.css';
@import 'angularjs-toaster/toaster.css';

:root {
    --bs-body-font-size: 14px
}

body {
    background-color: lightgray;
}

.form-control-feedback {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.has-feedback .form-control {
    padding-right: 43px;
}

.box-login {
    width: 100%;
    max-width: 400px;
    padding: 2.5rem 2rem;
}

ul.nav.nav-treeview {
    padding-left: 20px;
}

.toast-top-custom {
    top: 62px;
    right: 15px;
}

.toast.ng-leave-active,
.toast.ng-leave {
    opacity: 0;
    transition: none !important;
}

.toast {
    opacity: 1 !important;
}

.toast.ng-enter {
    opacity: 0;
    transform: translateX(-30px);
}

.toast.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.4s ease-out;
}

.toast:not(.show) {
    display: block;
}

@keyframes zoomInFromBack {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(-20px);
        filter: blur(2px);
    }
    60% {
        opacity: 1;
        transform: scale(1.05) translateY(0);
        filter: blur(0);
    }
    100% {
        transform: scale(1);
    }
}
