<ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a href="{{ path('dashboard') }}" class="nav-link" ng-class="ctrl.isMenuOpen('dashboard')">
            <i class="nav-icon fa fa-house"></i>
            <p>Dashboard</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-palette"></i>
            <p>Autores</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-box-arrow-in-right"></i>
            <p>
                G&eacute;neros
                <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-box-arrow-in-right"></i>
                    <p>
                        Cl&aacute;sica
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Romantica</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Impresionista</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-music-note"></i>
            <p>Obras Musicales</p>
        </a>
    </li>

    <li class="nav-item" id="item-user-settings">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-fw fa-lock"></i>
            <p>
                Seguridad
                <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" id="ul-users-settings">
            <li class="nav-item">
                <a href="{{ path('security_list_roles') }}" class="nav-link" ng-class="ctrl.isMenuOpen('security_list_roles')">
                    <i class="nav-icon fa fa-fw fa-person-walking-dashed-line-arrow-right "></i>
                    <p>Roles</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('security_list_groups') }}" class="nav-link" ng-class="ctrl.isMenuOpen('security_list_groups')">
                    <i class="nav-icon fa fa-fw fa-users-viewfinder"></i>
                    <p>Grupos</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="{{ path('user_list') }}" class="nav-link" ng-class="ctrl.isMenuOpen('user_list')">
            <i class="nav-icon fa fa-fw fa-users"></i>
            <p>Usuarios</p>
        </a>
    </li>
</ul>